<!DOCTYPE html>
<html lang="en">

<head>
                    <meta charset="UTF-8" />
                    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                    <title>DH-Heroes</title>
                    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
                    <header>
                                        <nav>
                                                            <ul>
                                                                                <li>                <a href="/">Home</a>
                                                                                                    <a href="turing">turing</a>
                                                                                                    <a href="lovelace">lovelace</a>
                                                                                                    <a href="hopper">hopper</a>
                                                                                                    <a href="hamilton">hamilton</a>
                                                                                                    <a href="clarke">clarke</a>
                                                                                                    <a href="berners-lee">berners-lee</a>
                                                                                                    <a href="babbage">babbage</a>
                                                                                </li>
                                                            </ul>
                                        </nav>
                    </header>

                    <main>
                                        <section>
                                                            <h1>Charles Babbage</h1>
                                                            <article>
                                                                                <p>Charles Babbage fue un matemático y
                                                                                                    científico de la
                                                                                                    computación
                                                                                                    británico.1​Diseñó y
                                                                                                    desarrolló una
                                                                                                    calculadora mecánica
                                                                                                    capaz de calcular
                                                                                                    tablas de funciones
                                                                                                    numéricas por el
                                                                                                    método de
                                                                                                    diferencias. También
                                                                                                    diseñó, (pero nunca
                                                                                                    construyó), la
                                                                                                    analítica para
                                                                                                    ejecutar programas
                                                                                                    de tabulación o
                                                                                                    computación; por
                                                                                                    estos inventos se le
                                                                                                    considera como una
                                                                                                    de las primeras
                                                                                                    personas en concebir
                                                                                                    la idea de lo que
                                                                                                    hoy llamaríamos una
                                                                                                    computadora, por lo
                                                                                                    que se le considera
                                                                                                    como "Alguien". En
                                                                                                    el Museo de Ciencias
                                                                                                    de Londres se
                                                                                                    exhiben partes de
                                                                                                    sus mecanismos
                                                                                                    inconclusos. Parte
                                                                                                    de su cerebro
                                                                                                    conservado en formol
                                                                                                    se exhibe en el
                                                                                                    Royal College of
                                                                                                    Surgeons of England.
                                                                                                    Sitio en Londres.2​
                                                                                <h2>Diseño de computadoras</h2>
                                                                                <p>Babbage intentó encontrar un método
                                                                                                    por el cual se
                                                                                                    pudieran hacer
                                                                                                    cálculos
                                                                                                    automáticamente por
                                                                                                    una máquina,
                                                                                                    eliminando errores
                                                                                                    debidos a la fatiga
                                                                                                    o aburrimiento que
                                                                                                    sufrían las personas
                                                                                                    encargadas de
                                                                                                    compilar las tablas
                                                                                                    matemáticas de la
                                                                                                    época. Esta idea la
                                                                                                    tuvo en 1812. Tres
                                                                                                    factores parecieron
                                                                                                    haberlo motivado:
                                                                                                    una aversión al
                                                                                                    desorden, su
                                                                                                    conocimiento de
                                                                                                    tablas logarítmicas,
                                                                                                    y los trabajos de
                                                                                                    máquinas
                                                                                                    calculadoras
                                                                                                    realizadas por
                                                                                                    Blaise Pascal y
                                                                                                    Gottfried Leibniz.
                                                                                                    En 1822, en una
                                                                                                    carta dirigida a sir
                                                                                                    Humphry Davy en la
                                                                                                    aplicación de
                                                                                                    maquinaria al
                                                                                                    cálculo e impresión
                                                                                                    de tablas
                                                                                                    matemáticas,
                                                                                                    discutió los
                                                                                                    principios de una
                                                                                                    máquina calculadora.
                                                                                                    Además diseñó un
                                                                                                    plano de
                                                                                                    computadoras.</p>
                                                                                </p>
                                                            </article>
                                        </section>
                                        <aside>
                                                            <img src="/img/descargar (3).jpg"
                                                                                alt="imagen de Charles Babbage">
                                        </aside>
                    </main>
                    <footer>
                                        <section>
                                                            <div></div>

                                        </section>
                    </footer>
</body>

</html>