<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DH-Heroes</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <nav>
                    <ul><li>            <a href="/">Home</a>
                                        <a href="turing">turing</a>
                                        <a href="lovelace">lovelace</a>
                                        <a href="hopper">hopper</a >
                                        <a href="hamilton">hamilton</a>
                                        <a href="clarke">clarke</a>
                                        <a href="berners-lee">berners-lee</a>
                                        <a href="babbage">babbage</a>
                                  </li>
                                      </ul>
      </nav>
    </header>

    <main>
      <section>
        <h1>Tim Berners-Lee</h1>
        <article>
   <p>Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de junio de 1955), es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.
<p>
                    Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera más efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. Él y su grupo crearon lo que por sus siglas en inglés se denomina Lenguaje HTML (HyperText Markup Language) o lenguaje de etiquetas de hipertexto, el protocolo HTTP 
</p>
   </p>
        </article>
      </section>
      <aside>
        <img src="/img/Sir_Tim_Berners-Lee_(cropped).jpg" alt="imagen de Tim Berners-Leer" />
      </aside>
    </main>
    <footer>
      <section>
        <div></div>

      </section>
    </footer>
  </body>
</html>