<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dh Heroes</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>bienvenido a DH Heroes</h1>
    <h2>Heroes</h2>
    <ul><li>
      <a href="turing">turing</a>
      <a href="lovelace">lovelace</a>
      <a href="hopper">hopper</a >
      <a href="hamilton">hamilton</a>
      <a href="clarke">clarke</a>
      <a href="berners-lee">berners-lee</a>
      <a href="babbage">babbage</a>
</li>
    </ul>
  </body>
</html>
