<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DH-Heroes</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <nav>
                    <ul><li>            <a href="/">Home</a>
                                        <a href="turing">turing</a>
                                        <a href="lovelace">lovelace</a>
                                        <a href="hopper">hopper</a >
                                        <a href="hamilton">hamilton</a>
                                        <a href="clarke">clarke</a>
                                        <a href="berners-lee">berners-lee</a>
                                        <a href="babbage">babbage</a>
                                  </li>
                                      </ul>
      </nav>
    </header>

    <main>
      <section>
        <h1>Ada Lovelace</h1>
        <article>
      <p>
                    Augusta Ada King, condesa de Lovelace (Londres, 10 de diciembre de 1815-íd., 27 de noviembre de 1852), registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la computadora mecánica de uso general de Charles Babbage, la denominada máquina analítica. Fue la primera en reconocer que la máquina tenía aplicaciones más allá del cálculo puro y en haber publicado lo que se reconoce hoy como el primer algoritmo destinado a ser procesado por una máquina, por lo que se la considera como la primera programadora de ordenadores.            <p>Está considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna. Proporcionó una influyente formalización de los conceptos de algoritmo y computación: la máquina de Turing. Formuló su propia versión que hoy es ampliamente aceptada como la tesis de Church-Turing</p>
<p>Lovelace fue la única hija legítima del poeta lord Byron y su esposa lady Byron. Byron se separó de su esposa un mes después del nacimiento de Ada y dejó Inglaterra para siempre cuatro meses después. Conmemoró la despedida en un poema que comienza: «¿Es tu rostro como el de tu madre, mi bella hija? ¡ADA! Hija única de mi casa y mi corazón»</p>
<p>Su posición social y su educación la llevaron a conocer a científicos importantes como Andrew Crosse, Sir David Brewster, Charles Wheatstone, Michael Faraday y al novelista Charles Dickens, relaciones que aprovechó para llegar más lejos en su educación. Entre estas relaciones se encuentra Mary Somerville, que fue su tutora durante un tiempo, además de amiga y estímulo intelectual.9​ Ada Byron se refería a sí misma como una científica poetisa y como analista </p>      
</p>
        </article>
      </section>
      <aside>
        <img src="/img/330px-Ada_Byron_daguerreotype_by_Antoine_Claudet_1843_or_1850.jpg" alt="imagen de lovelace" />
      </aside>
    </main>
    <footer>
      <section>
        <div></div>

      </section>
    </footer>
  </body>
</html>