<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <nav>
                    <ul><li>            <a href="/">Home</a>
                                        <a href="turing">turing</a>
                                        <a href="lovelace">lovelace</a>
                                        <a href="hopper">hopper</a >
                                        <a href="hamilton">hamilton</a>
                                        <a href="clarke">clarke</a>
                                        <a href="berners-lee">berners-lee</a>
                                        <a href="babbage">babbage</a>
                                  </li>
                                      </ul>
      </nav>
    </header>

    <main>
      <section>
        <h1>alan turing</h1>
        <article>
          <p>
            Su nombre completo era Alan Mathison Turing y nació en Paddington,
            Londres, el 23 de junio de 1912. Su padre era funcionario británico
            en India y cuando estaba cercano el nacimiento de Alan, él y su
            esposa regresaron a Londres pues querían que su hijo naciera ahí.
            <p>Está considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna. Proporcionó una influyente formalización de los conceptos de algoritmo y computación: la máquina de Turing. Formuló su propia versión que hoy es ampliamente aceptada como la tesis de Church-Turing</p>
<p>Durante la segunda guerra mundial, trabajó en descifrar los códigos nazis, particularmente los de la máquina Enigma, y durante un tiempo fue el director de la sección Naval Enigma de Bletchley Park. Se ha estimado que su trabajo acortó la duración de esa guerra entre dos y cuatro años.6​ Tras la guerra, diseñó uno de los primeros computadores electrónicos programables digitales en el Laboratorio Nacional de Física del Reino Unido y poco tiempo después construyó otra de las primeras máquinas en la Universidad de Mánchester.</p>         
</p>
        </article>
      </section>
      <aside>
        <img src="/img/Alan_Turing_Aged_16.jpg" alt="imagen de alant uring" />
      </aside>
    </main>
    <footer>
      <section>
        <div></div>
        <ul>
          <li></li>
        </ul>
      </section>
    </footer>
  </body>
</html>
